<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error page</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
        <h2 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|"></h2>
        <div th:each="error : ${errors}">
             <p th:text="${error}"></p>
        </div>
        <p th:utext="${errorMessage}"></p>
        <a href="index.html" th:href="@{/search}">Back to Search Page</a>
    </body>
</html>